.git
.github
.gitignore
.gitattributes
.editorconfig
.env.example
bootstrap/cache/*
!bootstrap/cache/.gitignore
node_modules
vendor
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/.gitkeep
!storage/logs/.gitkeep
!storage/framework/.gitkeep
!storage/framework/cache/.gitkeep
!storage/framework/sessions/.gitkeep
!storage/framework/views/.gitkeep
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
*.md
!README.md
phpunit.xml
docker-compose*.yml
.dockerignore
Dockerfile*
debug_query.php
